{{ partial "header.html" . }}

<h3>A resource for the Boston runner looking to hit the trails.</h3>
<h3>Towns</h3>
<ul>
  {{ range where .Site.RegularPages "Section" "town"}}
    {{ if eq .Draft false}}
      <li><a style="font-size:20px" href="{{.RelPermalink}}">{{.Title}}</a></li>
    {{ end }}
  {{ end }}
</ul>
<h3>Trail Systems</h3>
<ul>
  {{ range where .Site.RegularPages "Section" "loc"}}
    <li><a style="font-size:20px" href="{{.RelPermalink}}">{{.Title}}</a></li>
  {{ end }}
</ul>
<h3>Day Trips</h3>
<ul>
  {{ range where .Site.RegularPages "Section" "trip"}}
    {{ if eq .Draft false}}
      <li><a style="font-size:20px" href="{{.RelPermalink}}">{{.Title}}</a></li>
    {{ end }}
  {{ end }}
</ul>

<h3>General Resources</h3>
<ul>
  <li><a href="https://www.strava.com/heatmap#12.06/-71.15687/42.36233/bluered/run">Strava Heat Map</a></li>
  <p>Anonymously compiled GPS data from all your fellow runners, see where other people are running.</p>
  <li><a href="https://trailmap.mapc.org/">MAPC Trailmap</a></li>
  <p>Offered by the Metropolitan Area Planning Council, this is a composite map of trails and paved pedestian pathways.</p>
  <li><a href="https://www.baycircuit.org/maps-guides/">Bay Circuit Trail</a></li>
  <p>With over 230 miles of trail, the Bay Circuit Trail forms a near continous circular band around the Boston area linking up various trail systems.</p>
</ul>

<h3>Work In Progress</h3>
<ul>
  {{ range where .Site.RegularPages "Section" "town"}}
    {{ if eq .Draft true}}
      <li><a style="font-size:20px" href="{{.RelPermalink}}">{{.Title}}</a></li>
    {{ end }}
  {{ end }}
  {{ range where .Site.RegularPages "Section" "loc"}}
    {{ if eq .Draft true}}
      <li><a style="font-size:20px" href="{{.RelPermalink}}">{{.Title}}</a></li>
    {{ end }}
  {{ end }}
  {{ range where .Site.RegularPages "Section" "trip"}}
    {{ if eq .Draft true}}
      <li><a style="font-size:20px" href="{{.RelPermalink}}">{{.Title}}</a></li>
    {{ end }}
  {{ end }}
</ul>

{{ partial "footer.html" . }}
